.volume-control input[type="range"] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #9a905d;
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #434343;
    box-shadow: -80px 0 0 80px #43e5f7;
}

.volume-control input[type="range"]::-ms-fill-lower {
    background-color: red;
}

.volume-control input[type="range"]::-ms-fill-upper {
    background-color: blue;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--thumb-background);
    margin-top: -5px;
    cursor: pointer;
}

.volume-control::-webkit-slider-runnable-track {
    height: 0.6rem;
    opacity: var(--track-opacity);
}

.volume-control {
    background: var(--background-gradient);
}

:root {
    --thumb-background: #e5e7eb;
    --track-opacity: 0.5;
    --background-gradient: #e5e7eb;
}

.volume-control[volume] {
    --thumb-background: #d9d9d9;
}

.volume-control[volume][speaker] {
    --track-opacity: 1;
    --background-gradient: linear-gradient(to right, #d9d9d9 var(--volume), rgba(229, 231, 235, 0.5) var(--volume) 100%);
}

.volume-control[volume]:not([volume]) {
    --background-gradient: #e5e7eb;
}

.volum-button {
    background-image: url('../img/volume-icon.png');
}