/* 슬라이드바 숨기기 */
body,
.box {
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}

/* 뒤로가기 버튼 */
.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;
    height: 4.5rem;
    background-image: url('/src/assets/button/back.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 화면 슬라이드 */
body {
    text-align: center;
}
canvas {
    border: 1px solid gray;
}