/* 슬라이드바 숨기기 */
body,
.box {
    -ms-overflow-style: none;
}
.box::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}

/* 배경화면 */
.game-screen {
    background-image: url('/src/assets/img/field-flower1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* 뒤로가기 버튼 */
.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;
    height: 4.5rem;
    background-image: url('/src/assets/button/back.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}