/* 슬라이드바 숨기기 */
body,
.box {
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}

/* 공통 버튼 스타일 */
button {
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 뒤로가기 버튼 */
.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;
    height: 4.5rem;
    background-image: url('/src/assets/button/back.png');
    z-index: 10;
}

/* 음량 버튼 */
.volum-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;  /* 버튼 크기 조정 */
    height: 4.5rem; /* 버튼 크기 조정 */
    z-index: 20;
}

/* 화면 슬라이드 */
body {
    text-align: center;
}

canvas {
    border: 1px solid gray;
}

/* 겹치도록 모든 버튼을 동일한 위치에 배치 */
.game-screen > button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;
    height: 4.5rem;
    z-index: 30;
}
