.nickname-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/src/assets/img/MainBackground.png');
    background-size: cover;
    text-align: center;
}

.input-border-div{
    background: #362706;
    padding: 0.5rem;
}

.input-title{
    padding: 0.7rem 10rem;
    background: #E9E5D6;
    font-size: 1.6rem;
    font-weight: 800;
}

/* .input-div {
    margin-top: 0.5rem;
    padding: 0.7rem 15rem;
    background: #ACB992;
    font-size: 1.6rem;
    font-weight: 800;
    box-sizing: border-box; 
} */

.input {
    margin-top: 0.5rem;
    padding: 0.7rem 10rem;
    text-align: center;
    background: #ACB992;
    font-size: 1.6rem;
    font-weight: 800;
}

.goStory-button {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0.7rem 3.5rem;
    background-color: #464E2E;
    color: white;
    border: solid #362706 5px;
    border-radius: 2px;
    cursor: pointer;
}
