html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.story-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url('/src/assets/img/subway.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.dialogue-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* 너비를 80%로 조정 */
  height: 70%; /* 높이를 80%로 조정 */
  max-width: 1600px;
  background-image: url('/src/assets/img/post-window.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  position: absolute;
  bottom: -160px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.dialogue-text {
  display: flex;
  padding: 50px;
  font-size: 20px;
}


.dialogue-name {
  font-weight: bold;
}

#nickname {
  /* 닉네임 스타일을 여기에 추가합니다. */
  position: relative;
  top: -30px;
  right: 120px;
  font-size: 22px;
}
