html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.story-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url('/src/assets/img/subway.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.dialogue-box {
  display: flex;
  align-items: center;
  justify-content: center; /* 대사창 내부 콘텐츠 중앙 정렬 */
  width: 90%; /* 다이얼로그 박스의 너비를 90%로 설정 */
  height: 40%; /* 다이얼로그 박스의 높이를 40%로 설정 */
  max-width: 1600px; /* 최대 너비 설정 */
  background-image: url('/src/assets/img/post-window.png'); /* 대사창 배경 이미지 설정 */
  background-size: contain; /* 이미지 크기 조절 */
  background-position: center; /* 이미지 위치 조정 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  color: rgb(0, 0, 0);
  box-sizing: border-box; /* 패딩 포함 박스 사이징 */
  position: absolute; /* 대사창 위치 고정 */
  bottom: 20px; /* 화면 하단에서 20px 위에 위치 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
  cursor: pointer; /* 클릭 가능한 포인터 표시 */
}

.dialogue-text {
  flex-grow: 1;
}

.dialogue-name {
  font-weight: bold;
}
