.nickname-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/src/assets/img/MainBackground.png');
    background-size: cover;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4.6rem;
    height: 4.5rem;
    background-image: url('/src/assets/button/back.png');
    background-size: cover;
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

.input-border-div {
    background: #362706;
    padding: 0.5rem;
}

.input-title {
    padding: 0.7rem 10rem;
    background: #E9E5D6;
    font-size: 1.6rem;
    font-weight: 800;
}

.input {
    margin-top: 0.5rem;
    padding: 0.7rem 10rem;
    text-align: center;
    background: #ACB992;
    font-size: 1.6rem;
    font-weight: 800;
    outline: none; 
}

.goStory-button {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0.7rem 3.5rem;
    background-color: #464E2E;
    color: white;
    border: solid #362706 5px;
    border-radius: 2px;
    cursor: pointer;
}

/* 슬라이드바 숨기기 */
body,
.box {
    -ms-overflow-style: none;
}
.box::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}